.task {
  background: var(--gray-500);
  border: 1px solid var(--gray-400);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.75rem;
  padding: 1rem;
  border-radius: 8px;
}

.task + .task {
  margin-top: 0.75rem;
}

.task p {
  flex: 1;
  color: var(--gray-100);
  font-size: var(--font-sm);
  line-height: 140%;
}

.task .completedTask {
  color: var(--gray-300);
  text-decoration: line-through;
}

.task .deleteTask {
  background: 0;
  border: 0;
  color: var(--gray-300);
  line-height: 0;
  border-radius: 2px;
}
